@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>we don't have any rental customers yet!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Customer Name
                </th>

                <th>
                    Membership
                </th>
                <th>
                    SingUp Fee
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Detail", "Customer", new { Id = customer.Id }, null)
                    </td>
                    <td>
                        @customer.MembershipType.Membership
                    </td>
                    <td>
                        @if (customer.MembershipType.SignUpFee == 0)
                        {
                            <span>Free</span>
                        }
                        else
                        {
                            <span>$@customer.MembershipType.SignUpFee</span>
                        }
                    </td>
                    <td>
                        <span>@customer.MembershipType.DiscountRate%</span>
                    </td>
                    <td>
                        @Html.ActionLink("Edit","Edit","Customer",new { id = customer.Id },null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



